@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center mb-3">
    CIDA: Consulting Insights with Deep Analysis
</h1>
<div>
    <h2>Problema</h2>
    <p class="ident-2">
        A crescente dependência de dados gera desafios para empresas que
        lutam para interpretar grandes conjuntos de dados desorganizados.
        Consultorias tradicionais são caras, imprevisíveis e dependem de mão
        de obra qualificada, limitando o acesso para muitas empresas.
    </p>

    <h2>Solução</h2>
    <p class="ident-2">
        CIDA, uma IA inovadora que processa dados e gera insights de forma
        rápida e previsível.
    </p>

    <h2>Como funciona</h2>
    <ul>
        <li>
            <span class="font-weight-bold">Processamento e Refinamento de Dados:</span>
            Utilizamos uma IA para ressaltar os pontos principais dos arquivos enviados.
        </li>
        <li>
            <span class="bold">Análise e Geração de Insights:</span>
            Utilizamos uma IA generativa que analisa os dados e fornece insights acionáveis e
            recomendações para melhorias.
        </li>
    </ul>

    <h2>Vantagens</h2>
    <ul>
        <li>
            <span class="font-weight-bold">Custo reduzido:</span> Mais
            acessível que consultorias tradicionais.
        </li>
        <li>
            <span class="font-weight-bold">Sem supervisão humana:</span>
            Funciona de forma autônoma, sem necessidade de especialistas em
            dados.
        </li>
        <li>
            <span class="font-weight-bold">Fácil de usar:</span> Interface
            intuitiva e amigável.
        </li>
        <li>
            <span class="font-weight-bold">Processamento rápido:</span> Gera
            insights rapidamente, permitindo decisões ágeis.
        </li>
    </ul>

    <h2>Público-alvo</h2>
    <ul>
        <li>
            <span class="font-weight-bold">PMEs e startups</span>
        </li>
        <li>
            <span class="font-weight-bold">Empreendedores</span>
        </li>
        <li>
            <span class="font-weight-bold">Departamentos individuais</span>
        </li>
        <li>
            <span class="font-weight-bold">Empresas de consultoria</span>
        </li>
    </ul>

    <h2>Diferencial</h2>
    <ul>
        <li>
            <span class="font-weight-bold">Processamento de dados brutos:</span>
            Elimina a necessidade de pré-processamento manual de dados.
        </li>
        <li>
            <span class="font-weight-bold">Gera insights de forma fácil:</span>
            Funciona de forma simples e sem dificuldades.
        </li>
    </ul>

    <h2>Potencial de mercado</h2>
    <ul>
        <li>
            <span class="font-weight-bold">Grande:</span> A maioria das
            empresas no Brasil são PMEs, representando um mercado vasto.
        </li>
        <li>
            <span class="font-weight-bold">Impacto positivo:</span> Capacita
            empresas a usar dados para impulsionar o crescimento e a
            competitividade.
        </li>
    </ul>

    <h2>Conclusão</h2>
    <p class="ident-2">
        A CIDA é uma solução inovadora e acessível que transforma dados em
        insights acionáveis, atendendo às necessidades de análise de dados
        das empresas modernas. Com um grande potencial de mercado, a CIDA
        tem a oportunidade de impactar positivamente o panorama empresarial
        brasileiro.
    </p>
    <h2>Observações</h2>
    <ul>
        <li class="font-weight-bold">O projeto ainda está em desenvolvimento, está não é a versão final. </li>
        <li class="font-weight-bold">Como melhoria pretendemos fazer o upload de arquivos e realizar a persistencia do mesmo em nuvem pela Azure.</li>
        <li class="font-weight-bold">As classes que não fizemos as views, na versão final serão preenchidas por uma IA.</li>
    </ul>
</div>
