@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center mb-3">
    CIDA: Consulting Insights with Deep Analysis
</h1>
<div>
    <h2>Descrição da Aplicação</h2>
    <div style="padding-left: 2rem;">
    <h3>Introdução</h3>
    <p>
        Nossa aplicação possui 4 CRUDs, sendo eles: Usuários, DadosClientes, Arquivos e Insights.
        Sendo que as classes Usuário e Arquivo possuem views para todos os métodos do CRUD e as classes DadosCliente e Insight só possuem as views de get e delete.
    </p>
    <h3>Explicação das classes</h3>
    <ul>
        <li><span class="fw-bold">Usuário:</span> Classe dos Usuários que utilizarão nossa aplicação</li>
        <li><span class="fw-bold">Dados Cliente:</span> Classe para armazrnar informações de contexto dos nossos clientes</li>
        <li><span class="fw-bold">Arquivos:</span> Classe para armazenar os arquivos que serão processados pela nossa IA</li>
        <li><span class="fw-bold">Insights:</span> Classe para armazenar os insights gerados pela nossa IA</li>
    </ul>
    <h3>Observações</h3>
    <ul>
        <li class="fw-bold">O projeto ainda está em desenvolvimento, está não é a versão final. </li>
        <li class="fw-bold">Como melhoria pretendemos fazer o upload de arquivos e realizar a persistencia do mesmo em nuvem pela Azure.</li>
        <li class="fw-bold">As classes que não fizemos as views, na versão final serão preenchidas por uma IA.</li>
    </ul>
    </div>
</div>
<div>
    <h2>Idealização</h2>
<div style="padding-left: 2rem;">
    <h3>Problema</h3>
    <p class="ident-2">
        A crescente dependência de dados gera desafios para empresas que
        lutam para interpretar grandes conjuntos de dados desorganizados.
        Consultorias tradicionais são caras, imprevisíveis e dependem de mão
        de obra qualificada, limitando o acesso para muitas empresas.
    </p>

    <h3>Solução</h3>
    <p class="ident-2">
        CIDA, uma IA inovadora que processa dados e gera insights de forma
        rápida e previsível.
    </p>

    <h3>Como funciona</h3>
    <ul>
        <li>
            <span class="fw-bold">Processamento e Refinamento de Dados:</span>
            Utilizamos uma IA para ressaltar os pontos principais dos arquivos enviados.
        </li>
        <li>
            <span class="fw-bold">Análise e Geração de Insights:</span>
            Utilizamos uma IA generativa que analisa os dados e fornece insights acionáveis e
            recomendações para melhorias.
        </li>
    </ul>

    <h3>Vantagens</h3>
    <ul>
        <li>
            <span class="fw-bold">Custo reduzido:</span> Mais
            acessível que consultorias tradicionais.
        </li>
        <li>
            <span class="fw-bold">Sem supervisão humana:</span>
            Funciona de forma autônoma, sem necessidade de especialistas em
            dados.
        </li>
        <li>
            <span class="fw-bold">Fácil de usar:</span> Interface
            intuitiva e amigável.
        </li>
        <li>
            <span class="fw-bold">Processamento rápido:</span> Gera
            insights rapidamente, permitindo decisões ágeis.
        </li>
    </ul>

    <h3>Público-alvo</h3>
    <ul>
        <li>
            <span class="fw-bold">PMEs e startups</span>
        </li>
        <li>
            <span class="fw-bold">Empreendedores</span>
        </li>
        <li>
            <span class="fw-bold">Departamentos individuais</span>
        </li>
        <li>
            <span class="fw-bold">Empresas de consultoria</span>
        </li>
    </ul>

    <h3>Diferencial</h3>
    <ul>
        <li>
            <span class="fw-bold">Processamento de dados brutos:</span>
            Elimina a necessidade de pré-processamento manual de dados.
        </li>
        <li>
            <span class="fw-bold">Gera insights de forma fácil:</span>
            Funciona de forma simples e sem dificuldades.
        </li>
    </ul>

    <h3>Potencial de mercado</h3>
    <ul>
        <li>
            <span class="fw-bold">Grande:</span> A maioria das
            empresas no Brasil são PMEs, representando um mercado vasto.
        </li>
        <li>
            <span class="fw-bold">Impacto positivo:</span> Capacita
            empresas a usar dados para impulsionar o crescimento e a
            competitividade.
        </li>
    </ul>

    <h3>Conclusão</h3>
    <p class="ident-2">
        A CIDA é uma solução inovadora e acessível que transforma dados em
        insights acionáveis, atendendo às necessidades de análise de dados
        das empresas modernas. Com um grande potencial de mercado, a CIDA
        tem a oportunidade de impactar positivamente o panorama empresarial
        brasileiro.
    </p>
</div>
    
</div>
